<ion-header [translucent]="true">
  <ion-toolbar color="blueg">
    <ion-title>
      Component
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="blueg">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="peplep">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="peplep">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="peplep">
        <ion-icon name="images-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-searchbar color="kem"></ion-searchbar>

  <ion-segment value="select" color="blueg">
    <ion-segment-button value="select">
      <ion-label>select</ion-label>
    </ion-segment-button>
    <ion-segment-button value="toggle">
      <ion-label>toggle</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item>
    <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="presentToast('bottom')" color="blueg">กรุณากดที่ปุ่ม</ion-button>
  <ion-toggle [enableOnOffLabels]="true">ซ่อนไม่หา</ion-toggle>


</ion-content>

